# Ignore node_modules in all subfolders
node_modules/
**/node_modules/

# Environment files & secrets
.env
**/.env
.env.*
**/.env.*
!.env.example
!**/.env.example
*.pem
*.key
*.crt
.terraform/
**/.terraform/
