version: '3.9'
services:
  backend:
    build: ./backend
    restart: always
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: appdb
    ports:
      - "5000:5000"
    depends_on:
      - postgres

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend

  postgres:
    image: bitnami/postgresql:latest
    restart: always
    environment:
      - POSTGRESQL_USERNAME=postgres
      - POSTGRESQL_PASSWORD=postgres
      - POSTGRESQL_DATABASE=appdb
    ports:
      - "55432:5432"
    volumes:
      - ./backend/models/:/docker-entrypoint-initdb.d/
