version: '3.9'
services:
  backend:
    build: ./backend
    restart: always
    env_file:
      - ./backend/.env
    environment:
      DB_HOST: host.docker.internal
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: appdb
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - backend
