apiVersion: v1
kind: Secret
metadata:
  name: backend-secrets
  namespace: default
stringData:
  JWT_SECRET: "please-change-me"
  DATABASE_URL: "postgres://postgres:please-change-me@postgres:5432/postgres"
